<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container{
            max-width: 560px;
        }
        .field-error{

        }
    </style>
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>회원 가입</h2>
    </div>
    <h4 class="mb-3">회원 정보 입력</h4>
    <form action="" th:action th:object="${member}" method="post">
        <!-- 전체 오류 메세지가 필요하게되면 추가예정 -->
        <div>
            <label for="loginId">로그인 ID</label>
            <input type="text" id="loginId" name="loginId" th:field="*{loginId}" class="form-control"
            th:errorclass="field-error">
            <div class="field-error" th:errors="*{loginId}"></div>
        </div>
        <div>
            <label for="password">비밀번호</label>
            <input type="password" id="password" name="password" th:field="*{password}" class="form-control"
            th:errorclass="field-error">
            <div class="field-error" th:errors="*{password}"/>
        </div>
        <div>
            <label for="nickName">게임 닉네임</label>
            <input type="text" id="nickName" name="nickname" th:field="*{nickname}" class="form-control"
                   th:errorclass="field-error">
            <div class="field-error" th:errors="*{nickname}"/>
        </div>
        <button type="submit">회원 가입</button>
        <button th:onclick="|location.href='@{/}'|"
                type="button">취소</button>
    </form>
    <hr>


</div>

</body>
</html>