<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>다이어리 작성</h2>
<div>
    <span th:text="${nickname}">닉네임</span>
</div>
<form th:action th:object="${diary}" method="post">
    <div>
        <label for="diaryText">내용</label>
        <input type="text" id="diaryText" th:field="*{diaryText}" class="field-error">
        <div class="field-error" th:errors="*{diaryText}"></div>
    </div>

    <button type="submit">작성 완료</button>
    <button th:onclick="|location.href='@{/}'|" type="button">취소</button>

</form>

</body>
</html>