<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>다이어리 수정</title>
</head>
<body>
<h2>다이어리 수정</h2>
<div>
    <span th:text="|챔피언 ${diary.championName}|">챔피언 이름</span>
</div>
<div>
    <span th:text="|kda ${diary.kda}|">kda</span>
</div>
<div>
    <span th:text="|닉네임 ${diary.name}|">닉네임</span>
</div>
<form th:action="@{/diary/update/{id}(id=${diary.id})}" method="post">
    <div>
        <label for="diaryText">내용</label>
        <textarea id="diaryText" required th:field="*{diary.diaryText}" class="field-error" placeholder="내용을 작성해 주세요"></textarea>
    </div>
    <button type="submit">작성 완료</button>
    <button th:onclick="|location.href='@{/}'|" type="button">취소</button>
</form>
</body>
</html>