<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link th:href="@{/css/bootstrap.min.css}"
        href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<h2>로그인 후 홈 화면</h2>
<h4 th:text="|로그인: ${member.nickname}|">로그인 사용자 이름</h4>
<button type="button" th:onclick="|location.href='@{/diary/summoner}'|"}>
  소환사 정보
</button>
<button type="button" th:onclick="|location.href='@{/diary/create}'|"}>
  다이어리 작성
</button>
<form th:action="@{/logout}" method="post">
  <button type="submit">
    로그아웃
  </button>
</form>
</body>
</html>