<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="utf-8">
  <link th:href="@{/css/bootstrap.min.css}"
        href="../css/bootstrap.min.css" rel="stylesheet">
  <title>Title</title>
</head>
<style>
  .field-error {
    color: #0a53be;
  }
</style>
<body>
<div class="container" style="max-width: 600px">
  <div class="py-5 text-center">
    <h2 class="font-monospace fw-bold">홈</h2>
  </div>
<h4 class="font-monospace fw-bold" th:text="|로그인: ${member.nickname}|">사용자</h4>
  <div>
<button type="button" th:onclick="|location.href='@{/match/summoner}'|"}>
  사용자 정보
</button>
  </div>
<button type="button" th:onclick="|location.href='@{/match/list}'|"}>
  다이어리 작성
</button>
<form th:action="@{/logout}" method="post">
  <button type="submit">
    로그아웃
  </button>
</form>
</div>
</body>
</html>