<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>로그인</h2>
<form th:action th:object="${login}" method="post">
    <div >
        <label for="loginId">로그인 ID</label>
        <input type="text" id="loginId" th:field="*{loginId}" th:errorclass="field-error">
        <div class="filed-error" th:errors="*{loginId}"/>
    </div>
    <div>
        <label for="password">비밀번호</label>
        <input type="password" id="password" th:field="*{password}"
               th:errorclass="field-error">
        <div class="field-error" th:errors="*{password}" />
    </div>
    <button type="submit">로그인</button>
    <button th:onclick="|location.href='@{/}'|" type="button">취소</button>

</form>

</body>
</html>