<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <title>Title</title>
</head>
<style>
    .field-error {
        color: #0a53be;
    }
</style>
<body>
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2 class="font-monospace fw-bold text-primary">검색 리스트</h2>
        <p>
        <ul>
            <h4 th:each="matchDto : ${matchList}">
                <span class="border border-primary p-2 mb-2 border-opacity-50 form-control text-center"
                      th:text="${matchDto.matchId}"></span>
            </h4>
        </ul>
        </p>
    </div>
</div>

</body>
</html>